@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bg: #f1f2e0;
}

* {
	border-color: rgba(0, 0, 0, 0.1);
}

html {
	font-family: 'Manrope', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;

	background-color: #efe4c7;

	background-color: var(--bg);
	color: rgba(0, 0, 0, 0.8);

	overflow-x: hidden;

	line-height: 1.4em;
}
body {
}
@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}
